body {
  background-color: rgb(166, 233, 166);
  font-family: Arial;
  font-size: 22px;
}

h1 {
  font-size: 40px;
}

.first {
  color: red;
}

#your-name {
  background-color: yellow;
  border: 5px solid #444;
}
