* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(166, 233, 166);
  font-family: Arial;
  font-size: 22px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: yellow;
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}
a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: rgb(64, 224, 224);
}

#courseImage {
  width: 300px;
}
